<div class="feeds__feed_survey">
  <span class="text-right py-2">X user haben teilgenommen</span>
  <form class="feeds__feed_survey-questions">
    <% post.questions.each do |question| %>
      <% if question.question_type == "single_choice" %>
        <fieldset class="feeds__feed_survey-question">
          <legend><%= translated_attribute question.title %></legend>
          <% question.answers.each do |answer| %>
            <div class="feeds__feed_survey-question-answer">
              <div class="feeds__feed_survey-question-answerInput">
                <label class="form__wrapper-checkbox-label">
                  <input type="radio" name="question1" value="1">
                  <%= translated_attribute answer.title %>
                </label>
              </div>
              <div class="feeds__feed_survey-question-answerProgressbar flex justify-between p-1 border border-gray rounded-full shadow-md">
                  <div class="w-full bg-background rounded-full">
                      <div class="bg-success h-full rounded-full shadow-md" style="width: 37.5%"></div>
                  </div>
                  <span class="text-sm shrink-0 px-2">
                      X / Y
                      <span class="sr-only">haben geantwortet</span>
                  </span>
              </div>
            </div>
          <% end %>
        </fieldset>
      <% elsif question.question_type == "multiple_choice" %>
        <fieldset class="feeds__feed_survey-question">
          <legend><%= translated_attribute question.title %></legend>
          <% question.answers.each do |answer| %>
            <div class="feeds__feed_survey-question-answer">
              <div class="feeds__feed_survey-question-answerInput">
                <label class="form__wrapper-checkbox-label">
                    <input type="checkbox" name="question1" value="1">
                    <%= translated_attribute answer.title %>
                </label>
              </div>
              <div class="feeds__feed_survey-question-answerProgressbar flex justify-between p-1 border border-gray rounded-full shadow-md">
                <div class="w-full bg-background rounded-full">
                  <div class="bg-success h-full rounded-full shadow-md" style="width: 75%"></div>
                </div>
                <span class="text-sm shrink-0 px-2">
                  X / Y 
                  <span class="sr-only">haben geantwortet</span> 
                </span>
              </div>
            </div>
          <% end %>
        </fieldset>
      <% end %>
    <% end %>
  </form>
</div>
