<div class="card__grid feeds__feed" data-content="meeting">
  <%#= cell("decidim/feeds/post_meta", post) %>
  <div class="card__grid-text">
    <%= meeting_title %>
  </div>

  <%#= cell("decidim/feeds/post_comment", post) %>
</div>
