/* css for decidim_feeds */

@import '_variables.scss';

.feeds__container {
	@apply flex gap-4 justify-between flex-nowrap w-full max-w-screen-2xl mx-auto p-4 lg:p-16;
	.feeds__body {
		@apply flex-grow flex flex-wrap gap-4;
		.feeds__feed {
			@apply p-2 gap-2 ring-1 hover:cursor-default md:col-start-1 md:col-end-4 lg:col-start-2 lg:col-end-8 xl:col-start-2 xl:col-end-10;
			&[data-content] {
				@apply shadow-feedBox;
			}
			&[data-content='post'] {
				--tw-ring-color: theme('colors.feeds.post');
			}
			&[data-content='sharecare'] {
				--tw-ring-color: theme('colors.feeds.sharecare');
			}
			&[data-content='hv'] {
				--tw-ring-color: theme('colors.feeds.hv');
				&.hv-highlight {
					@apply bg-alert text-white font-medium;
					* {
						@apply text-white;
					}
				}
				&.feeds__feed_hv-handling {
					@apply border-t-8 border-warning;
				}
				&.feeds__feed_hv-complete {
					@apply border-t-8 border-success;
				}
				.hv-icon {
					@apply absolute -right-2 -top-2 bg-white fill-alert;
				}
			}
			&[data-content='survey'] {
				--tw-ring-color: theme('colors.feeds.survey');
				.feeds__feed_survey {
					@apply flex flex-col gap-2 text-sm font-bold;
					.feeds__feed_survey-questions {
						@apply flex flex-col gap-4 text-md;
						.feeds__feed_survey-question {
							@apply flex flex-col p-2 gap-2 rounded bg-feeds-bg;
							.feeds__feed_survey-question-answer {
								@apply font-medium flex flex-col px-2;
								.feeds__feed_survey-question-answerInput {
									@apply flex py-1 justify-between gap-2;
									span {
										@apply text-sm shrink-0;
									}
								}
							}
						}
					}
				}
			}
			&[data-content='calendar'] {
				--tw-ring-color: theme('colors.feeds.calendar');
			}
			.card__grid-metadata {
				@apply gap-2 items-center flex-nowrap text-black;
				.author {
					@apply mr-auto;
				}
				.feeds__feed_actions {
					@apply flex gap-4;
					span {
						@apply flex items-center gap-1 text-xs;
					}
					.endorsers-list__trigger {
						@apply hidden;
					}
					#endorsement-button {
						@apply border-0 p-0 font-normal;
						&:hover {
							background: none;
							color: inherit;
						}
						svg {
							@apply fill-black;
						}
					}
					.feeds__feed_actions_submenu {
						@apply relative self-start;
						button.openButton {
							span {
								@apply leading-[0];
							}
						}
					}
				}
			}
			.feeds__feed_gallery {
				li {
					transition: opacity 0.5s ease;
					opacity: 0;
					display: none;
					&.active {
						opacity: 1;
						display: block;
					}
					@supports not (aspect-ratio: 4 / 3) {
						&::before {
							float: left;
							padding-top: 75%;
							content: '';
						}

						&::after {
							display: block;
							content: '';
							clear: both;
						}
					}
				}
			}
			.feeds__feed_comments {
				@apply px-1 pt-4 pb-2;
				#comments {
					.comments__header {
						@apply flex-row justify-end h-8 items-center mb-0;
						h2 {
							@apply flex text-sm font-medium gap-1 cursor-pointer;
							svg {
								@apply w-[14px] h-auto fill-black;
							}
						}
					}
					.comment-order-by {
						@apply hidden;
					}
					.comment-threads,
					.add-comment:not(.comment__additionalreply) form.new_comment {
						@apply h-0 invisible motion-safe:transition-transform;
					}
					.comment-threads {
						.comment-thread {
							.comment__header {
								@apply -ml-8;
							}
							.author__avatar-container {
								@apply w-6 h-6;
							}
						}
					}
					.add-comment {
						@apply mt-4;
						label {
							@apply block text-md font-medium;
						}
						textarea {
							@apply block w-full sm:text-sm sm:leading-6;
						}
					}
					.add-comment:not(.comment__additionalreply) {
						@apply mt-0;
					}
				}
			}

			&.feeds__feed_newElement {
				--tw-ring-color: theme('colors.white');
				@apply gap-4;
				&.open {
					--tw-ring-color: theme('colors.feeds.sidebar');
					.circle {
						svg {
							@apply rotate-0 motion-safe:transition-transform;
						}
					}
					.category-selection {
						@apply flex gap-1 flex-wrap justify-center opacity-100 scale-100 motion-safe:transition-transform motion-safe:transition-opacity;
					}
				}
				.circle {
					@apply w-[52px] h-[52px] p-2 bg-white rounded-[52px] shadow-feedMenu justify-center items-center inline-flex text-black;
					svg {
						@apply w-[36px] h-[36px] fill-feeds-sidebar rotate-45 motion-safe:transition-transform;
					}
				}
				.category-selection {
					@apply hidden opacity-0 scale-0;
					button.active {
						@apply bg-primary text-white focus:outline-primary;
					}
				}
				form {
					@apply hidden opacity-0 scale-0 motion-safe:transition-transform motion-safe:transition-opacity;
					&.open {
						@apply flex flex-col gap-4 opacity-100 scale-100 motion-safe:transition-transform motion-safe:transition-opacity;
					}
					label {
						font-size: 1rem;
					}
					input,
					textarea {
						margin-block-start: 0;
					}
					.feeds__feed_newElement_Body {
						@apply border-0 bg-feeds-formBody;
					}
					.postType {
						@apply flex gap-2 flex-wrap justify-center;

						input[type='radio']:checked + label {
							@apply bg-primary text-white focus:outline-primary;
						}
					}
					.feeds__feed_newElement_Xtra {
						@apply relative hidden opacity-0 scale-0 motion-safe:transition-transform motion-safe:transition-opacity;
						&.open {
							@apply block opacity-100 scale-100 motion-safe:transition-transform motion-safe:transition-opacity;
						}
						&.feeds__feed_newSurvey {
							.feeds__feed_newSurvey-btn {
								@apply flex justify-center items-center gap-2 text-black font-medium p-4 bg-feeds-bg w-full rounded;
							}
							#newQuestion {
								--tw-ring-color: theme('colors.feeds.sidebar');
								@apply top-0 left-0 w-full h-full bg-white p-4 ring-1 rounded;
							}
						}
					}
					.feeds__feed_newElement_Media {
						@apply px-2 pb-2 pt-0;
						svg {
							@apply w-[24px] h-auto;
						}
						.active-uploads {
							@apply mt-0 pb-2;
						}
						button {
							@apply mt-0;
						}
					}
					.sndBtn {
						@apply self-end;
					}
				}
			}
		}
	}
	.feeds__aside {
		@apply max-w-max;
		ul {
			@apply flex flex-col space-y-4;
			a {
				@apply flex flex-col items-center font-medium text-xs md:text-md text-feeds-sidebar;
				svg {
					@apply w-[24px] h-auto fill-feeds-sidebar;
				}
				&.active {
					&[data-filter='post'] {
						svg {
							@apply fill-feeds-post;
						}
					}
					&[data-filter='sharecare'] {
						svg {
							@apply fill-feeds-sharecare;
						}
					}
					&[data-filter='hv'] {
						svg {
							@apply fill-feeds-hv;
						}
					}
					&[data-filter='survey'] {
						svg {
							@apply fill-feeds-survey;
						}
					}
					&[data-filter='calendar'] {
						svg {
							@apply fill-feeds-calendar;
						}
					}
				}
				&[data-filter='hv'] {
					@apply mt-8;
				}
			}
		}
	}
}

// tooltip
.author__tooltip {
	&[role='tooltip'] {
		@apply bg-white text-black rounded-2xl shadow-feedMenu;
		.author__name {
			@apply text-black;
			&:hover {
				@apply no-underline;
			}
		}
		&::before {
			@apply bg-white;
		}
		.button {
			@apply border-black bg-white text-black;
		}
	}
}
