/* css for decidim_feeds */

@import '_variables.scss';

.feeds__container {
	@apply flex gap-4 justify-between flex-nowrap;
	.feeds__body {
		@apply flex-grow flex flex-wrap gap-4;
		.feeds__feed {
			@apply p-2 gap-2 ring-1 hover:cursor-default;
			@media (min-width: 480px) {
				@apply col-start-2 col-end-3;
			}
			&[data-content] {
				@apply shadow-feedBox;
			}
			&[data-content='post'] {
				--tw-ring-color: theme('colors.feeds.post');
			}
			&[data-content='sharecare'] {
				--tw-ring-color: theme('colors.feeds.sharecare');
			}
			&[data-content='hv'] {
				--tw-ring-color: theme('colors.feeds.hv');
				&.hv-highlight {
					@apply bg-alert text-white font-medium;
					* {
						@apply text-white;
					}
				}
				&.feeds__feed_hv-handling {
					@apply border-t-8 border-warning;
				}
				&.feeds__feed_hv-complete {
					@apply border-t-8 border-success;
				}
				.hv-icon {
					@apply absolute -right-2 -top-2 bg-white fill-alert;
				}
			}
			&[data-content='survey'] {
				--tw-ring-color: theme('colors.feeds.survey');
				.feeds__feed_survey {
					@apply flex flex-col gap-2 text-sm font-bold;
					.feeds__feed_survey-questions {
						@apply flex flex-col gap-4 text-md;
						.feeds__feed_survey-question {
							@apply flex flex-col p-2 gap-2 rounded-md bg-feeds-bg;
							.feeds__feed_survey-question-answer {
								@apply font-medium flex flex-col px-2;
								.feeds__feed_survey-question-answerInput {
									@apply flex py-1 justify-between gap-2;
									span {
										@apply text-sm shrink-0;
									}
								}
							}
						}
					}
				}
			}
			&[data-content='calendar'] {
				--tw-ring-color: theme('colors.feeds.calendar');
			}
			.card__grid-metadata {
				@apply gap-2 items-center flex-nowrap text-black;
				.author {
					@apply mr-auto;
				}
				.feeds__feed_actions {
					@apply flex gap-4;
					span {
						@apply flex items-center gap-1 text-xs;
					}
					.feeds__feed_actions_submenu {
						@apply relative self-start;
						button {
							span {
								@apply leading-[0];
							}
						}
					}
				}
			}
			.feeds__feed_comments {
				@apply flex justify-between px-1 pt-4 pb-2;
				span {
					@apply flex items-center gap-1 text-xs;
				}
				.feeds__feed_comment {
					@apply rounded-md px-3 pb-1.5 pt-2.5 shadow-sm focus-within:ring-2 focus-within:ring-2 bg-white;
					label {
						@apply block text-md font-medium;
					}
					textarea {
						@apply block w-full border-0 p-0 focus:ring-0 sm:text-sm sm:leading-6 bg-transparent;
					}
				}
			}
			&.feeds__feed_newElement {
				--tw-ring-color: theme('colors.white');
				@apply gap-4;
				&.open {
					--tw-ring-color: theme('colors.feeds.sidebar');
					.circle {
						svg {
							@apply rotate-0 motion-safe:transition-transform;
						}
					}
					form {
						@apply flex flex-col gap-4 opacity-100 scale-100 motion-safe:transition-transform motion-safe:transition-opacity;
					}
				}
				.circle {
					@apply w-[52px] h-[52px] p-2 bg-white rounded-[52px] shadow-feedMenu justify-center items-center inline-flex text-black;
					svg {
						@apply w-[36px] h-[36px] fill-feeds-sidebar rotate-45 motion-safe:transition-transform;
					}
				}
				form {
					@apply hidden opacity-0 scale-0 motion-safe:transition-transform motion-safe:transition-opacity;
					.feeds__feed_newElement_Body {
						@apply border-0 bg-feeds-formBody;
					}
					.postType {
						@apply flex gap-2 flex-wrap justify-center;

						input[type='radio']:checked + label {
							@apply bg-primary text-white focus:outline-primary;
						}
					}
					.feeds__feed_newElement_Xtra {
						@apply relative hidden opacity-0 scale-0 motion-safe:transition-transform motion-safe:transition-opacity;
						&.open {
							@apply block opacity-100 scale-100 motion-safe:transition-transform motion-safe:transition-opacity;
						}
						&.feeds__feed_newSurvey {
							.feeds__feed_newSurvey-btn {
								@apply flex justify-center items-center gap-2 text-black font-medium p-4 bg-feeds-bg w-full rounded-md;
							}
							#newQuestion {
								--tw-ring-color: theme('colors.feeds.sidebar');
								@apply top-0 left-0 w-full h-full bg-white p-4 ring-1 rounded-md;
							}
						}
					}
					.sndBtn {
						@apply self-end;
					}
				}
			}
		}
	}
	.feeds__aside {
		@apply max-w-max;
		ul {
			@apply flex flex-col space-y-4;
			a {
				@apply flex flex-col items-center font-medium text-xs md:text-md text-feeds-sidebar;
			}
		}
	}
}

header {
	.main-bar__links-mobile {
		// @apply w-[calc(100vw-16px)] ;
		@apply inset-x-2 bottom-2 w-auto rounded-md shadow-feedMenu;
		.main-bar__links-mobile__item {
			@apply justify-between;
			svg {
				@apply w-[20px] h-[20px] fill-black;
			}
			&.circle {
				svg {
					@apply w-[42px] h-[42px] fill-black rotate-45;
				}
			}
			span {
				@apply text-black;
			}
		}
	}
}
