<% add_decidim_page_title(t("feed_user_roles.edit.title", scope: "decidim.admin")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t("feed_user_roles.edit.title", scope: "decidim.admin") %>
  </h1>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: feed_user_role_path(@user_role.feed, @user_role), html: { class: "form-defaults form edit_feed_user_roles" }) do |f| %>
      <%= render partial: "form", object: f %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t("feed_user_roles.edit.update", scope: "decidim.admin"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>