<% if post_commentable %>
  <div class="feeds__feed_comments">
    <button class="button button__sm button__transparent-primary absolute">Kommentieren</button>
    <%= comments_for post %>
  </div>
<% end %>