<div class="feeds__feed_comments">
  <%= comments_for post %>
  <% if post_commentable %>
    <button class="button button__sm button__transparent-primary">Kommentieren</button>
  <% end %>
  <span data-comments-count="">
    <%= icon "chat-1-line" %>
    Kommentare (8) 
  </span>
</div>