<% if post_commentable %>
  <div class="feeds__feed_comments" data-post-id="<%= post.id %>">
    <button class="button button__sm button__transparent-primary absolute newCommentBtn" aria-expanded="false" aria-controls="new_comment_for_<%= model_type %>_<%= post.id %>">Kommentieren</button>
    <%= comments_for post %>
  </div>
<% end %>