<a class="card__grid feeds__feed" data-content="post" href="#">
  <div class="card__grid-metadata">
    <div class="author" data-author="">
      <span>
        <div class="author__container">
          <span class="author__avatar-container">
            <img alt="Avatar: Sint est." class="author__avatar" src="/decidim-packs/media/images/default-avatar-aaa9e55bac5d7159b847.svg">
          </span>
          <span class="author__name">Author 1</span>
        </div>
      </span>
    </div>
   <div class="feeds__feed_actions">
     <span data-endorsements-count="">
      <%= icon "thumb-up-line" %>
      Gefällt mir (13)
    </span>
    <span>
      <%= icon "flag-line" %>
      Melden
    </span>
   </div>
  </div>
  <div class="card__grid-img">
      <%= image_pack_tag('media/images/130828cp0030-768x511.webp', alt: 'Description') %>
  </div>
  <div class="card__grid-text">
    Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet. »Wie ein Hund!« sagte er, es war, als sollte die Scham ihn überleben. 
  </div>
  <div class="feeds__feed_comments">
    <button class="button button__sm button__transparent-secondary">Kommentieren</button>
    <span data-comments-count="">
      <%= icon "chat-1-line" %>
      Kommentare (8) 
    </span>
  </div>
</a>