<div class="card__grid-metadata">
  <div class="author" data-author="">
    <span>
      <div class="author__container">
        <span class="author__avatar-container">
          <img alt="Avatar: Sint est." class="author__avatar" src="/decidim-packs/media/images/default-avatar-aaa9e55bac5d7159b847.svg">
        </span>
        <span class="author__name">Author 1</span>
      </div>
    </span>
  </div>
  <div class="feeds__feed_actions">
    <span data-endorsements-count="">
    <%= icon "thumb-up-line" %>
    Gefällt mir (13)
  </span>
  <span>
    <%= icon "flag-line" %>
    Melden
  </span>
  </div>
</div>