<aside class="layout-2col__aside">
  <nav aria-label="">
    <ul>
      <li>
        <a href="#" class="" data-filter="beitrag">
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-home-5-line" tabindex="-1"></use>
          </svg>
          Beiträge
        </a>
      </li>
      <li>
        <a href="#" class="" data-filter="marktplatz">
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-recycle-line" tabindex="-1"></use>
          </svg>
          Marktplatz
        </a>
      </li>
      <li>
        <a href="#" class="" data-filter="hv">
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-home-gear-line" tabindex="-1"></use>
          </svg>
          HV
        </a>
      </li>
      <li>
        <a href="#" class="" data-filter="kalender">
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-calendar-schedule-line" tabindex="-1"></use>
          </svg>
          Kalender
        </a>
      </li>
      <li>
        <a href="#" class="" data-filter="hilfe">
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-shake-hands-line" tabindex="-1"></use>
          </svg>
          Hilfe
        </a>
      </li>
      <li>
        <a href="#" class="" data-filter="umfrage">
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-draft-line" tabindex="-1"></use>
          </svg>
          Umfrage
        </a>
      </li>
    </ul>
  </nav>
</aside>