<div class="feeds__feed_survey">
    8 user haben teilgenommen
    <form class="feeds__feed_survey-questions">
        <fieldset class="feeds__feed_survey-question">
            <legend>Wie zufrieden sind Sie mit dem neuen Spielplatz?</legend>
            <div class="feeds__feed_survey-question-answer">
                <div class="feeds__feed_survey-question-answerInput">
                    <label class="form__wrapper-checkbox-label">
                        <input type="radio" name="question1" value="1">
                        Ich bin zwar Sehr zufrieden trotzdem würde ich nicht anders antworten, und zwar so
                    </label>
                    <span>3 von 8</span>
                    <span class="sr-only">haben geantwortet</span>
                </div>
                <div class="feeds__feed_survey-question-answerProgressbar"></div>
            </div>
            <div class="feeds__feed_survey-question-answer">
                <div class="feeds__feed_survey-question-answerInput">
                    <label class="form__wrapper-checkbox-label">
                        <input type="radio" name="question1" value="2">
                        Zufrieden
                    </label>
                    <span>3 von 8</span>
                    <span class="sr-only">haben geantwortet</span>
                </div>
                <div class="feeds__feed_survey-question-answerProgressbar"></div>
            </div>
            <div class="feeds__feed_survey-question-answer">
                <div class="feeds__feed_survey-question-answerInput">
                    <label class="form__wrapper-checkbox-label">
                        <input type="radio" name="question1" value="3">
                        Unzufrieden
                    </label>
                    <span>3 von 8</span>
                    <span class="sr-only">haben geantwortet</span>
                </div>
                <div class="feeds__feed_survey-question-answerProgressbar"></div>
            </div>
        </fieldset>
        <fieldset class="feeds__feed_survey-question">
            <legend>Wie zufrieden sind Sie mit dem neuen Spielplatz?</legend>
            <div class="feeds__feed_survey-question-answer">
                <div class="feeds__feed_survey-question-answerInput">
                    <label class="form__wrapper-checkbox-label">
                        <input type="checkbox" name="question1" value="1">
                        Sehr zufrieden
                    </label>
                    <span>3 von 8</span>
                    <span class="sr-only">haben geantwortet</span>
                </div>
                <div class="feeds__feed_survey-question-answerProgressbar"></div>
            </div>
            <div class="feeds__feed_survey-question-answer">
                <div class="feeds__feed_survey-question-answerInput">
                    <label class="form__wrapper-checkbox-label">
                        <input type="checkbox" name="question1" value="2">
                        Zufrieden
                    </label>
                    <span>3 von 8</span>
                    <span class="sr-only">haben geantwortet</span>
                </div>
                <div class="feeds__feed_survey-question-answerProgressbar"></div>
            </div>
            <div class="feeds__feed_survey-question-answer">
                <div class="feeds__feed_survey-question-answerInput">
                    <label class="form__wrapper-checkbox-label">
                        <input type="checkbox" name="question1" value="3">
                        Unzufrieden
                    </label>
                    <span>3 von 8</span>
                    <span class="sr-only">haben geantwortet</span>
                </div>
                <div class="feeds__feed_survey-question-answerProgressbar"></div>
            </div>
        </fieldset>
    </form>
</div>