<section id="feeds" class="home__section">
  <div class="layout-2col">
    <div class="layout-2col__main">
      <div class="NewElement p-2 justify-start items-start gap-4 inline-flex"></div>
      <div class="Feedbox self-stretch h-[151px] flex-col justify-start items-start flex">
        <div class="Box self-stretch h-[151px] p-2 bg-white rounded shadow border border-sky-600 flex-col justify-start items-start gap-2 flex">
          <div class="Header self-stretch justify-between items-start inline-flex">
            <div class="AvatarsSet justify-start items-start flex">
              <div class="Avatar w-8 h-8 justify-center items-center flex"></div>
            </div>
            <div class="KommentareActionsMain p-2 justify-start items-start gap-2 flex">
              <div class="LikeButton justify-start items-start gap-1 flex">
                <div class="Support text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Support</div>
              </div>
              <div class="KommentButton justify-start items-start gap-1 flex">
                <div class="Kommentare text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Kommentare</div>
              </div>
            </div>
          </div>
          <div class="Body self-stretch h-12 flex-col justify-start items-start gap-1 flex">
            <div class="BodyCopyPlaceholder self-stretch h-12 flex-col justify-start items-start flex">
              <div class="Content self-stretch text-stone-700 text-base font-normal font-['Source Sans Pro'] leading-normal">Mauris ornare egestas iaculis leo. Lacus commodo non ac vulputate dignissim.</div>
            </div>
          </div>
          <div class="Comment self-stretch h-[37px] flex-col justify-start items-start gap-2 flex">
            <div class="InputField self-stretch h-[37px] px-3 py-2 bg-stone-50 rounded flex-col justify-end items-start gap-2 flex">
              <div class="TextInput self-stretch rounded-md justify-between items-center inline-flex">
                <div class="Value grow shrink basis-0 text-stone-700 text-sm font-normal font-['Source Sans Pro'] leading-[21px]">Kommentieren</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Feedbox self-stretch h-[163px] flex-col justify-start items-start flex">
        <div class="Box self-stretch h-[163px] p-2 rounded shadow border border-red-600 flex-col justify-start items-start gap-2 flex">
          <div class="Body self-stretch h-[147px] flex-col justify-start items-start gap-1 flex">
            <div class="BodyCopyPlaceholder self-stretch h-[147px] flex-col justify-start items-start flex">
              <div class="Content self-stretch text-stone-700 text-sm font-normal font-['Inter'] leading-[21px]">Dictumst scelerisque ut commodo dis. Risus ac tellus sapien gravida sit elementum dui eget nunc. Eu arcu montes, sit elit, maecenas feugiat. Urna, habitant suspendisse suspendisse pharetra nec. Nibh mauris nullam nec mattis.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="Feedbox self-stretch h-[432px] flex-col justify-start items-start flex">
        <div class="Box self-stretch h-[432px] p-2 rounded shadow border border-green-600 flex-col justify-start items-start gap-2 flex">
          <div class="Header self-stretch justify-between items-start inline-flex">
            <div class="AvatarsSet justify-start items-start flex">
              <div class="Avatar w-8 h-8 justify-center items-center flex"></div>
            </div>
            <div class="KommentareActionsMain p-2 justify-start items-start gap-2 flex">
              <div class="LikeButton justify-start items-start gap-1 flex">
                <div class="Support text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Support</div>
              </div>
              <div class="KommentButton justify-start items-start gap-1 flex">
                <div class="Kommentare text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Kommentare</div>
              </div>
            </div>
          </div>
          <div class="Body self-stretch h-[329px] flex-col justify-start items-start gap-1 flex">
            <img class="Image self-stretch p-2 rounded" src="https://via.placeholder.com/273x178" />
            <div class="BodyCopyPlaceholder self-stretch h-[147px] flex-col justify-start items-start flex">
              <div class="Content self-stretch text-stone-700 text-sm font-normal font-['Inter'] leading-[21px]">Dictumst scelerisque ut commodo dis. Risus ac tellus sapien gravida sit elementum dui eget nunc. Eu arcu montes, sit elit, maecenas feugiat. Urna, habitant suspendisse suspendisse pharetra nec. Nibh mauris nullam nec mattis.</div>
            </div>
          </div>
          <div class="Comment self-stretch h-[37px] flex-col justify-start items-start gap-2 flex">
            <div class="InputField self-stretch h-[37px] px-3 py-2 bg-stone-50 rounded flex-col justify-end items-start gap-2 flex">
              <div class="TextInput self-stretch rounded-md justify-between items-center inline-flex">
                <div class="Value grow shrink basis-0 text-stone-700 text-sm font-normal font-['Source Sans Pro'] leading-[21px]">Kommentieren</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Feedbox self-stretch h-[333px] flex-col justify-start items-start flex">
        <div class="Box self-stretch h-[333px] p-2 rounded-lg shadow border border-pink-500 flex-col justify-start items-start gap-2 flex">
          <div class="Header self-stretch justify-between items-start inline-flex">
            <div class="AvatarsSet justify-start items-start flex">
              <div class="Avatar w-8 h-8 justify-center items-center flex"></div>
            </div>
            <div class="KommentareActionsMain p-2 justify-start items-start gap-2 flex">
              <div class="LikeButton justify-start items-start gap-1 flex">
                <div class="Support text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Support</div>
              </div>
              <div class="KommentButton justify-start items-start gap-1 flex">
                <div class="Kommentare text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Kommentare</div>
              </div>
            </div>
          </div>
          <div class="Body self-stretch h-[230px] flex-col justify-start items-start gap-1 flex">
            <img class="Image w-[273px] h-[205px] relative rounded" src="https://via.placeholder.com/273x205" />
            <div class="BodyCopyPlaceholder self-stretch h-[21px] flex-col justify-start items-start flex">
              <div class="Content self-stretch text-stone-700 text-sm font-normal font-['Inter'] leading-[21px]">Feugiat nunc quisque non mi tellus.</div>
            </div>
          </div>
          <div class="Comment self-stretch h-[37px] flex-col justify-start items-start gap-2 flex">
            <div class="InputField self-stretch h-[37px] px-3 py-2 bg-stone-50 rounded flex-col justify-end items-start gap-2 flex">
              <div class="TextInput self-stretch rounded-md justify-between items-center inline-flex">
                <div class="Value grow shrink basis-0 text-stone-700 text-sm font-normal font-['Source Sans Pro'] leading-[21px]">Kommentieren</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Feedbox self-stretch h-[697px] flex-col justify-start items-start flex">
        <div class="Box self-stretch h-[697px] p-2 rounded shadow border border-indigo-900 flex-col justify-start items-start gap-2 flex">
          <div class="Header self-stretch justify-between items-start inline-flex">
            <div class="AvatarsSet justify-start items-start flex">
              <div class="Avatar w-8 h-8 justify-center items-center flex"></div>
            </div>
            <div class="KommentareActionsMain p-2 justify-start items-start gap-2 flex">
              <div class="LikeButton justify-start items-start gap-1 flex">
                <div class="Support text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Support</div>
              </div>
              <div class="KommentButton justify-start items-start gap-1 flex">
                <div class="Kommentare text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Kommentare</div>
              </div>
            </div>
          </div>
          <div class="Body self-stretch h-[594px] flex-col justify-start items-start gap-1 flex">
            <img class="Image self-stretch grow shrink basis-0 p-2 rounded" src="https://via.placeholder.com/273x199" />
            <div class="BodyCopyPlaceholder self-stretch h-[147px] flex-col justify-start items-start flex">
              <div class="Content self-stretch text-slate-500 text-sm font-normal font-['Inter'] leading-[21px]">Dictumst scelerisque ut commodo dis. Risus ac tellus sapien gravida sit elementum dui eget nunc. Eu arcu montes, sit elit, maecenas feugiat. Urna, habitant suspendisse suspendisse pharetra nec. Nibh mauris nullam nec mattis.</div>
            </div>
            <div class="Fragen self-stretch h-60 rounded flex-col justify-start items-start gap-4 flex">
              <div class="Frage1 self-stretch h-14 p-1 bg-neutral-50 rounded flex-col justify-start items-start gap-2 flex">
                <div class="Frage1 text-stone-700 text-[13px] font-semibold font-['Source Sans Pro']">Frage 1</div>
                <div class="Component2 justify-start items-center gap-2 inline-flex">
                  <div class="Value1 text-right text-slate-700 text-[13px] font-normal font-['Source Sans Pro']">Nein</div>
                  <div class="Switch w-14 h-6 relative">
                    <div class="Rectangle119 w-14 h-6 left-0 top-0 absolute bg-green-600 rounded-[50px]"></div>
                    <div class="Ellipse21 w-5 h-5 left-[34px] top-[2px] absolute bg-white rounded-full shadow"></div>
                  </div>
                  <div class="Value2 text-slate-700 text-[13px] font-semibold font-['Source Sans Pro']">Ja</div>
                </div>
              </div>
              <div class="Frage2 self-stretch h-14 p-1 bg-neutral-50 rounded flex-col justify-start items-start gap-2 flex">
                <div class="Frage2 text-stone-700 text-[13px] font-semibold font-['Source Sans Pro']">Frage 2</div>
                <div class="Component2 justify-start items-center gap-2 inline-flex">
                  <div class="Value1 text-right text-slate-700 text-[13px] font-semibold font-['Source Sans Pro']">Nein</div>
                  <div class="Switch w-14 h-6 relative">
                    <div class="Rectangle119 w-14 h-6 left-0 top-0 absolute bg-red-100 rounded-[50px]"></div>
                    <div class="Ellipse21 w-5 h-5 left-[2px] top-[2px] absolute bg-red-700 rounded-full shadow"></div>
                  </div>
                  <div class="Value2 text-slate-700 text-[13px] font-normal font-['Source Sans Pro']">Ja</div>
                </div>
              </div>
              <div class="Frage3 self-stretch h-24 p-1 bg-neutral-50 rounded flex-col justify-start items-start gap-2 flex">
                <div class="Frage3 text-stone-700 text-[13px] font-semibold font-['Source Sans Pro']">Frage 3</div>
                <div class="Antwort1 justify-start items-start gap-2 inline-flex">
                  <div class="Component2 justify-start items-start gap-2 flex">
                    <div class="Switch w-10 h-4 relative">
                      <div class="Rectangle119 w-10 h-4 left-0 top-0 absolute bg-green-200 rounded-[50px]"></div>
                      <div class="Ellipse21 w-3 h-3 left-[26px] top-[2px] absolute bg-green-900 rounded-full shadow"></div>
                    </div>
                  </div>
                  <div class="Antwort1 text-stone-700 text-[13px] font-semibold font-['Source Sans Pro']">Antwort 1</div>
                </div>
                <div class="Antwort2 justify-start items-start gap-2 inline-flex">
                  <div class="Component2 justify-start items-start gap-2 flex">
                    <div class="Switch w-10 h-4 relative">
                      <div class="Rectangle119 w-10 h-4 left-0 top-0 absolute bg-red-100 rounded-[50px]"></div>
                      <div class="Ellipse21 w-3 h-3 left-[2px] top-[2px] absolute bg-red-700 rounded-full shadow"></div>
                    </div>
                  </div>
                  <div class="Antwort2 text-stone-700 text-[13px] font-semibold font-['Source Sans Pro']">Antwort 2</div>
                </div>
                <div class="Antwort3 justify-start items-start gap-2 inline-flex">
                  <div class="Component2 justify-start items-start gap-2 flex">
                    <div class="Switch w-10 h-4 relative">
                      <div class="Rectangle119 w-10 h-4 left-0 top-0 absolute bg-green-200 rounded-[50px]"></div>
                      <div class="Ellipse21 w-3 h-3 left-[26px] top-[2px] absolute bg-green-900 rounded-full shadow"></div>
                    </div>
                  </div>
                  <div class="Antwort3 text-stone-700 text-[13px] font-semibold font-['Source Sans Pro']">Antwort 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="Comment self-stretch h-[37px] flex-col justify-start items-start gap-2 flex">
            <div class="InputField self-stretch h-[37px] px-3 py-2 bg-stone-50 rounded flex-col justify-end items-start gap-2 flex">
              <div class="TextInput self-stretch rounded-md justify-between items-center inline-flex">
                <div class="Value grow shrink basis-0 text-stone-700 text-sm font-normal font-['Source Sans Pro'] leading-[21px]">Kommentieren</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Feedbox self-stretch h-[306px] flex-col justify-start items-start flex">
        <div class="Box self-stretch h-[306px] p-2 rounded shadow border border-amber-400 flex-col justify-start items-start gap-2 flex">
          <div class="Header self-stretch justify-between items-start inline-flex">
            <div class="AvatarsSet justify-start items-start flex">
              <div class="Avatar w-8 h-8 justify-center items-center flex"></div>
            </div>
            <div class="KommentareActionsMain p-2 justify-start items-start gap-2 flex">
              <div class="LikeButton justify-start items-start gap-1 flex">
                <div class="Support text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Support</div>
              </div>
              <div class="KommentButton justify-start items-start gap-1 flex">
                <div class="Kommentare text-black text-xs font-normal font-['Source Sans Pro'] leading-[18px]">Kommentare</div>
              </div>
            </div>
          </div>
          <div class="Body self-stretch h-[203px] flex-col justify-start items-start gap-1 flex">
            <div class="CardSmallHorizontal self-stretch justify-start items-start gap-4 inline-flex">
              <div class="Frame11633 pt-2 justify-start items-start gap-2 flex">
                <div class="Date w-[55px] h-[62px] relative">
                  <div class="Image w-[55px] h-[62px] left-0 top-0 absolute bg-stone-50 rounded"></div>
                  <div class="Image w-[55px] h-[62px] left-0 top-0 absolute bg-gray-100 rounded"></div>
                  <div class="Rectangle105 w-[55px] h-[17px] left-0 top-0 absolute bg-red-700 rounded-tl rounded-tr"></div>
                  <div class="Group11314 w-[37px] h-[59px] left-[9px] top-0 absolute">
                    <div class="00h left-0 top-[43px] absolute text-center text-black text-[13px] font-normal font-['Source Sans Pro']">18:00h</div>
                    <div class="Gen left-[7px] top-0 absolute text-center text-white text-[13px] font-normal font-['Source Sans Pro']">GEN</div>
                    <div class=" left-[5px] top-[15px] absolute text-center text-black text-2xl font-bold font-['Source Sans Pro']">21</div>
                  </div>
                </div>
              </div>
              <div class="Frame11363 grow shrink basis-0 flex-col justify-start items-start gap-4 inline-flex">
                <div class="Frame11629 self-stretch h-[125px] flex-col justify-start items-start gap-2 flex">
                  <div class="Frame11631 self-stretch justify-start items-start gap-2 inline-flex">
                    <div class="DictumstScelerisqueUtCommodoDisRisusAcTellusSapienGravidaSitElementumDuiEgetNunc grow shrink basis-0 text-stone-700 text-xl font-semibold font-['Source Sans Pro']">Dictumst scelerisque ut commodo dis. Risus ac tellus sapien gravida sit elementum dui eget nunc. </div>
                  </div>
                </div>
                <div class="AvatarsSet justify-start items-start inline-flex">
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                  <div class="Avatar w-5 h-5 justify-center items-center flex"></div>
                </div>
                <div class="Frame11632 self-stretch h-[26px] flex-col justify-start items-start gap-2 flex">
                  <div class="ButtonSecondaryDefaultRightSmall h-[26px] pl-4 pr-3 py-1 rounded border border-stone-700 justify-center items-center gap-1.5 inline-flex">
                    <div class="Button text-center text-stone-700 text-sm font-semibold font-['Source Sans Pro']">Weiterlesen</div>
                    <div class="RemixIconsLineSystemArrowRightLine w-3.5 h-3.5 justify-center items-center flex">
                      <div class="Group w-3.5 h-3.5 relative">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Comment self-stretch h-[37px] flex-col justify-start items-start gap-2 flex">
            <div class="InputField self-stretch h-[37px] px-3 py-2 bg-stone-50 rounded flex-col justify-end items-start gap-2 flex">
              <div class="TextInput self-stretch rounded-md justify-between items-center inline-flex">
                <div class="Value grow shrink basis-0 text-stone-700 text-sm font-normal font-['Source Sans Pro'] leading-[21px]">Kommentieren</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render :sidebar %>
  </div>
</section>