<section id="feeds" class="home__section feeds">
  <style>

  </style>
  <div class="feeds__container">
    <%= render :body %>
    <%= render :sidebar %>
  </div>
</section>


<div class="card__list-metadata">
  <span data-comments-count="">
    <svg width="1em" height="1em" role="img" aria-hidden="true"><use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-wechat-line"></use></svg>
    10
  </span>
</div>