<section id="feeds" class="home__section feeds">
  <div class="feeds__container">
    <%= render :body %>
    <%= render :sidebar %>
  </div>
</section>
<%= append_javascript_pack_tag "decidim_feeds" %>