<div class="feeds__feed_newElement_Media">
  <button type="button">
    <%= icon "image-add-line" %>
    <span class="sr-only"></span>
  </button>
  <button type="button">
    <%= icon "film-line" %>
    <span class="sr-only"></span>
  </button>
  <button type="button">
    <%= icon "file-add-line" %>
    <span class="sr-only"></span>
  </button>
</div>