<div class="feeds__feed_newElement_Media">
  <button type="button">
    <%= icon "image-add-line" %>
    <span class="sr-only"></span>
  </button>
  <button type="button">
    <%= icon "film-line" %>
    <span class="sr-only"></span>
  </button>
  <button type="button">
    <%= icon "file-add-line" %>
    <span class="sr-only"></span>
  </button>
  <%= form.attachment :documents,
                      multiple: false,
                      label: t("decidim.proposals.collaborative_drafts.new.add_file"),
                      button_label: t("decidim.proposals.collaborative_drafts.new.add_file"),
                      button_edit_label: t("decidim.proposals.collaborative_drafts.new.edit_file"),
                      button_class: "button button__lg button__transparent-secondary w-full",
                      help_text: t("attachment_legend", scope: "decidim.proposals.collaborative_drafts.edit"),
                      help_i18n_scope: "decidim.forms.file_help.file" %>

</div>
