<div class="feeds__feed_newElement_Media">
  <%= form.upload :add_documents,
                  titled: true,
                  label: false,
                  button_label: t("decidim.proposals.collaborative_drafts.new.add_file"),
                  button_edit_label: I18n.t("decidim.forms.upload.labels.replace"),
                  multiple: true,
                  #label: false,
                  # id: field_id,
                  # disabled:,
                  # attribute:,
                  # resource_name: @object_name,
                  # resource_class: options[:resource_class]&.to_s || resource_class(attribute),
                  # show_current: true,
                  # max_file_size:,
                  # help: help_messages,
                  # label: label_for(attribute),
                  # button_label:,
                  # button_edit_label: I18n.t("decidim.forms.upload.labels.replace"),
                  button_class: "button button__sm button__transparent-primary w-full",
                  required: false %>
</div>
