<div>
  <%= form.label :title, t("decidim.components.feeds.newFeed.newSurvey.questionTitle"), class: 'sr-only' %>
  <%= form.text_field :title, class: 'form-control', placeholder: t("decidim.components.feeds.newFeed.newSurvey.questionTitle") %>
  <small>
    <%#= link_to t("decidim.components.feeds.newFeed.newSurvey.deleteQuestion"), "#" %>
  </small>
</div>
