<aside class="feeds__aside">
  <nav aria-label="<%= t("decidim.components.feeds.filter.menuAriaLabel") %>">
    <ul>
      <% filters = [
        { filter: 'post', icon: 'home-5-line' },
        { filter: 'sharecare', icon: 'shake-hands-line' },
        { filter: 'calendar', icon: 'calendar-line' },
        { filter: 'survey', icon: 'draft-line' },
        { filter: 'hv', icon: 'home-gear-line' }
      ] %>
      <% if params[:filter_post_category].present? && !params[:filter_post_category].empty? %>
        <% filters.unshift({ filter: 'all', icon: 'function-line' }) %>
      <% end %>
      <% filters.each do |filter| %>
        <li>
          <%= link_to filter[:filter] == 'all' ? "/" : "?filter_post_category=#{filter[:filter]}", class: (params[:filter_post_category] == filter[:filter] ? 'active' : ''), data: { filter: filter[:filter] }, aria: { current: (params[:filter_post_category] == filter[:filter] ? 'page' : nil) } do %>
            <%= icon "#{filter[:icon]}" %>
            <span><%= t("decidim.components.feeds.filter.#{filter[:filter]}") %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>